# text files
* text=auto
*.java text diff=java
*.htm text diff=html
*.html text diff=html
*.css text diff=css
*.js text
*.sql text
*.xml text
*.txt text
*.config text
*.properties text
*.wsdl text
*.xsd text
*.xsl text
*.ini text
*.json text
*.log text
*.yml text
*.py text diff=python
*.csv text
*.cache text
*.svg text
*.gitignore text
*.gitattributes text
*.project text

# binary files
*.png binary
*.jpg binary
*.jpeg binary
*.bmp binary
*.gif binary
*.ico binary
*.jar binary
*.war binary
*.ear binary
*.tar binary
*.gz binary
*.zip binary
*.7z binary

# enforce proper line endings
*.sh eol=lf
**/etc eol=lf
*.bat eol=crlf
*.cmd eol=crlf