<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="map" type="com.github.weewar.mapviewer.model.WeewarMap"*/-->

<head>
    <title th:text="${map.mapName}">Awesome map</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div id="main-container">
    <div id="map-headline-container">
        <span id="map-name" th:text="${map.mapName}">Awesome map</span>
        <span th:text="'(rev ' + ${map.revision} + ')'">(revision 1)</span>
        by <span th:text="${map.creator}">Jafar</span>
    </div>

    <div id="map-details-container">
        <span th:text="${map.players}">2</span> players |
        Income: <span th:text="${map.income}">200</span> |
        Start credits: <span th:text="${map.startCredits}">100</span> |
        Map size: <span th:text="${map.width} + ' x ' + ${map.height}">25 x 20</span>
    </div>

    <div id="map-container">
        <img src="#" th:src="'/images/maps/' + ${map.mapId} + '.png'"/>
    </div>
</div>
</body>
</html>