<!DOCTYPE HTML>
<html>

<head>
    <title>Search archived weewar maps</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/map-viewer.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/Templates.js"></script>
    <script src="/js/MapContainer.js"></script>
    <script src="/js/SearchPage.js"></script>
</head>

<body>
<div id="map-box-container">

</div>
</body>
</html>